{
  "name": "{projectName}",
  "$schema": "node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "{sourceRoot}",
  "projectType": "application",
  "targets": {
    "build": {
      "executor": "@nx/vite:build",
      "outputs": ["{options.outputPath}"],
      "defaultConfiguration": "production",
      "options": {
        "outputPath": "dist/{projectName}"
      },
      "configurations": {
        "development": {
          "mode": "development"
        },
        "production": {
          "mode": "production"
        }
      }
    },
    "serve": {
      "executor": "@nx/vite:dev-server",
      "defaultConfiguration": "development",
      "options": {
        "buildTarget": "{projectName}:build"
      },
      "configurations": {
        "development": {
          "buildTarget": "{projectName}:build:development"
        },
        "production": {
          "buildTarget": "{projectName}:build:production"
        }
      }
    },
    "preview": {
      "executor": "@nx/vite:preview-server",
      "defaultConfiguration": "production",
      "options": {
        "buildTarget": "{projectName}:build"
      },
      "configurations": {
        "development": {
          "buildTarget": "{projectName}:build:development"
        },
        "production": {
          "buildTarget": "{projectName}:build:production"
        }
      }
    },
    "test": {
      "executor": "@nx/vite:test",
      "outputs": ["{workspaceRoot}/coverage/{projectName}"],
      "options": {
        "passWithNoTests": true,
        "reportsDirectory": "{workspaceRoot}/coverage/{projectName}"
      }
    },
    "lint": {
      "executor": "@nx/eslint:lint",
      "outputs": ["{options.outputFile}"],
      "options": {
        "lintFilePatterns": ["{sourceRoot}/**/*.{ts,tsx,js,jsx}"]
      }
    }
  },
  "tags": []
}