# Ignore generated/downloaded data
dist/
raw/
src/
api/

# Track package structure
!.gitignore
!package.json
!tsconfig.json
!tsup.config.ts
!project.json
!lib/
!lib/**
!scripts/
!scripts/**
!translations/
